@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-full bg-gradient-to-b from-blue-1 to-blue-5 text-blue-2 font-display;
}

button {
  @apply whitespace-nowrap outline-none focus-visible:ring-2 focus-visible:ring-blue-2 focus-visible:ring-opacity-30;
}

path,
svg {
  @apply outline-none;
}

a {
  @apply focus-visible:ring-2 focus-visible:ring-blue-2 focus-visible:ring-opacity-30 outline-none;
}

.link {
  @apply underline hover:text-[#fff] underline-offset-4;
}

.glass {
  backdrop-filter: blur(10px);
}

.square-pattern {
  background-color: transparent;
  background-image: repeating-linear-gradient(
      45deg,
      hsla(202, 46%, 59%, 0.05) 25%,
      transparent 25%,
      transparent 75%,
      hsla(202, 46%, 59%, 0.05) 75%,
      hsla(202, 46%, 59%, 0.05)
    ),
    repeating-linear-gradient(
      45deg,
      hsla(202, 46%, 59%, 0.05) 25%,
      transparent 25%,
      transparent 75%,
      hsla(202, 46%, 59%, 0.05) 75%,
      hsla(202, 46%, 59%, 0.05)
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.btn {
  @apply border border-blue-2 border-opacity-[0.1] font-bold rounded shadow-md shadow-[rgba(0,0,0,0.1)];
}

.btn-neutral {
  @apply bg-blue-2 bg-opacity-10;
}

.btn:not(:disabled):not(.disabled) {
  @apply hover:border-opacity-20 hover:bg-opacity-[0.15] active:bg-opacity-[0.1] hover:text-orange-1;
}

.btn:disabled,
.btn.disabled {
  @apply opacity-50 cursor-not-allowed;
}

.text-input {
  @apply font-[monospace] text-white text-opacity-70 block w-full p-4 bg-blue-2 border border-blue-2 border-opacity-[0.1] font-bold rounded-lg bg-opacity-10 shadow-md shadow-[rgba(0,0,0,0.1)];
  @apply placeholder:text-white placeholder:text-opacity-20;
  @apply focus:bg-blue-5 p-4 font-semibold text-lg outline-none focus:ring focus:ring-blue-2 focus:ring-opacity-10 focus:border-opacity-50;
}

.text-input:hover:not(:disabled):not(:focus) {
  @apply transition-colors bg-opacity-[0.15];
}

.text-input:disabled {
  @apply cursor-not-allowed opacity-70;
}

.text-input-simple {
  @apply block rounded w-full p-2 outline-none bg-blue-5;
  @apply placeholder:text-white placeholder:text-opacity-30;
  @apply focus:bg-blue-5 outline-none focus:ring focus:ring-info-500 focus:ring-opacity-90;
}
