@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gradient-to-b from-blue-1 to-blue-5 text-blue-2 font-display;
}

button {
  @apply whitespace-nowrap;
}

a {
  @apply focus-visible:ring-2 focus-visible:ring-blue-2 focus-visible:ring-opacity-30 outline-none;
}

.link {
  @apply underline hover:text-[#fff] underline-offset-4;
}

.glass {
  backdrop-filter: blur(10px);
}

.square-pattern {
  background-color: transparent;
  background-image: repeating-linear-gradient(
      45deg,
      hsla(202, 46%, 59%, 0.05) 25%,
      transparent 25%,
      transparent 75%,
      hsla(202, 46%, 59%, 0.05) 75%,
      hsla(202, 46%, 59%, 0.05)
    ),
    repeating-linear-gradient(
      45deg,
      hsla(202, 46%, 59%, 0.05) 25%,
      transparent 25%,
      transparent 75%,
      hsla(202, 46%, 59%, 0.05) 75%,
      hsla(202, 46%, 59%, 0.05)
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
